<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="socket.io/socket.io.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
            crossorigin="anonymous"></script>
    <script src="index2.js"></script>
    <script src="paper.js"></script>
    <script  type="text/paperscript" src="draw.js" canvas="draw"></script>
</head>
<body>
  <h1 id="username"><%=username%></h1>
  <h1 id="teacher"><%=teacher%></h1>
<input type="text" id="msg" placeholder="text"><br>
<input type="submit" value="send" id="send">
<ul id="chat">

</ul>
<canvas id="draw" height=100px width=100px keepalive="true">
 
</canvas>

</body>
</html>