<!DOCTYPE html>
<html>

<head>

</head>

<body>


    <form action="/api/routes/admin/recog" enctype="multipart/form-data" method="post">
        <input formenctype="multipart/form-data" type="file" name="upload" multiple>
        
        <input type="submit">
    </form>
</body>

</html>